In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import tensorflow as tf

In [3]:
dataset = pd.read_csv(r"C:\Users\akshayd6\Desktop\MyModels\ANN - Customer churn\Churn_Modelling.csv")

In [4]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Encoding Gender, Geography

#### Gender

In [5]:
gender_male = np.where(dataset['Gender'] == 'Male',1,0)

In [6]:
dataset['gender_male'] = gender_male

#### Geography

In [8]:
geo_dummies = pd.get_dummies(dataset['Geography'],prefix = 'Geo_')

In [18]:
dataset = pd.concat([dataset,geo_dummies],axis = 1)

In [21]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,gender_male,Geo__France,Geo__Germany,Geo__Spain
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,0,1,0,0
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0,0,0,1
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,0,1,0,0
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,1,0,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,0,0,1

In [22]:
dataset.drop(['RowNumber','CustomerId','Surname','Gender','Geography'], axis = 1, inplace = True)

In [25]:
dataset.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,gender_male,Geo__France,Geo__Germany,Geo__Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,1,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,1,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,1,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,0,1

In [26]:
X = dataset.drop(['Exited'],axis = 1).values
y = dataset['Exited'].values

## Test train split

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=101)

## Feature Scaling

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
sc = StandardScaler()

In [32]:
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

## ANN

In [38]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation,Dropout,Input

In [36]:
model = Sequential()

In [37]:
np.shape(X_train)

(8000, 12)

In [39]:
model.add(Input(shape = (12,)))
model.add(Dense(units = 10, activation = 'relu'))
model.add(Dense(units = 10, activation = 'relu'))
model.add(Dense(units = 1, activation = 'sigmoid'))

In [40]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [41]:
model.fit(X_train,y_train, batch_size = 32, epochs = 125)

Epoch 1/125
250/250 [==============================] - 1s 806us/step - loss: 0.5119 - accuracy: 0.7757
Epoch 2/125
250/250 [==============================] - 0s 746us/step - loss: 0.4526 - accuracy: 0.8051
Epoch 3/125
250/250 [==============================] - 0s 772us/step - loss: 0.4339 - accuracy: 0.8098
Epoch 4/125
250/250 [==============================] - 0s 754us/step - loss: 0.4246 - accuracy: 0.8139
Epoch 5/125
250/250 [==============================] - 0s 873us/step - loss: 0.4172 - accuracy: 0.8189
Epoch 6/125
250/250 [==============================] - 0s 745us/step - loss: 0.4106 - accuracy: 0.8229
Epoch 7/125
250/250 [==============================] - 0s 780us/step - loss: 0.4038 - accuracy: 0.8281
Epoch 8/125
250/250 [==============================] - 0s 709us/step - loss: 0.3962 - accuracy: 0.8292
Epoch 9/125
250/250 [==============================] - 0s 734us/step - loss: 0.3903 - accuracy: 0.8334
Epoch 10/125
250/250 [==============================] - 0s 793us/step - loss: 0.3836 - accuracy: 0.8349
Epoch 11/125
250/250 [==============================] - 0s 751us/step - loss: 0.3789 - accuracy: 0.8344
Epoch 12/125
250/250 [==============================] - 0s 722us/step - loss: 0.3757 - accuracy: 0.8393
Epoch 13/125
250/250 [==============================] - 0s 729us/step - loss: 0.3715 - accuracy: 0.8407
Epoch 14/125
250/250 [==============================] - 0s 900us/step - loss: 0.3682 - accuracy: 0.8428
Epoch 15/125
250/250 [==============================] - 0s 867us/step - loss: 0.3656 - accuracy: 0.8455
Epoch 16/125
250/250 [==============================] - 0s 809us/step - loss: 0.3628 - accuracy: 0.8486
Epoch 17/125
250/250 [==============================] - 0s 785us/step - loss: 0.3602 - accuracy: 0.8479
Epoch 18/125
250/250 [==============================] - 0s 771us/step - loss: 0.3589 - accuracy: 0.8519
Epoch 19/125
250/250 [==============================] - 0s 866us/step - loss: 0.3569 - accuracy: 0.8521
Epoch 20/125
250/250 [==============================] - 0s 810us/step - loss: 0.3548 - accuracy: 0.8537
Epoch 21/125
250/250 [==============================] - 0s 713us/step - loss: 0.3537 - accuracy: 0.8537
Epoch 22/125
250/250 [==============================] - 0s 707us/step - loss: 0.3516 - accuracy: 0.8561
Epoch 23/125
250/250 [==============================] - 0s 696us/step - loss: 0.3506 - accuracy: 0.8580
Epoch 24/125
250/250 [==============================] - 0s 743us/step - loss: 0.3494 - accuracy: 0.8590
Epoch 25/125
250/250 [==============================] - 0s 702us/step - loss: 0.3477 - accuracy: 0.8585
Epoch 26/125
250/250 [==============================] - 0s 675us/step - loss: 0.3464 - accuracy: 0.8576
Epoch 27/125
250/250 [==============================] - 0s 698us/step - loss: 0.3461 - accuracy: 0.8576
Epoch 28/125
250/250 [==============================] - 0s 687us/step - loss: 0.3443 - accuracy: 0.8586
Epoch 29/125
250/250 [==============================] - 0s 702us/step - loss: 0.3437 - accuracy: 0.8577
Epoch 30/125
250/250 [==============================] - 0s 769us/step - loss: 0.3432 - accuracy: 0.8593
Epoch 31/125
250/250 [==============================] - 0s 809us/step - loss: 0.3423 - accuracy: 0.8591
Epoch 32/125
250/250 [==============================] - 0s 962us/step - loss: 0.3414 - accuracy: 0.8589
Epoch 33/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3410 - accuracy: 0.8594
Epoch 34/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8605
Epoch 35/125
250/250 [==============================] - 0s 994us/step - loss: 0.3392 - accuracy: 0.8599
Epoch 36/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3389 - accuracy: 0.8614
Epoch 37/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8626
Epoch 38/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8609
Epoch 39/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8604
Epoch 40/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8608
Epoch 41/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8620
Epoch 42/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8621
Epoch 43/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8610
Epoch 44/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8615
Epoch 45/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8621
Epoch 46/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8614
Epoch 47/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8604
Epoch 48/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8620
Epoch 49/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8601
Epoch 50/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8611
Epoch 51/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8616
Epoch 52/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8631
Epoch 53/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3341 - accuracy: 0.8622
Epoch 54/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8626
Epoch 55/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8610
Epoch 56/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8630
Epoch 57/125
250/250 [==============================] - 0s 986us/step - loss: 0.3337 - accuracy: 0.8627
Epoch 58/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8631
Epoch 59/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8631
Epoch 60/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8626
Epoch 61/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8633
Epoch 62/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8621
Epoch 63/125
250/250 [==============================] - 0s 994us/step - loss: 0.3327 - accuracy: 0.8651
Epoch 64/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8611
Epoch 65/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8625
Epoch 66/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3328 - accuracy: 0.8635
Epoch 67/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8639
Epoch 68/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8641
Epoch 69/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8625
Epoch 70/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3313 - accuracy: 0.8634
Epoch 71/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3315 - accuracy: 0.8629
Epoch 72/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3316 - accuracy: 0.8640
Epoch 73/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3326 - accuracy: 0.8616
Epoch 74/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3318 - accuracy: 0.8648
Epoch 75/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3317 - accuracy: 0.8618
Epoch 76/125
250/250 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8629
Epoch 77/125
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8619
Epoch 78/125
250/250 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8629
Epoch 79/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3301 - accuracy: 0.8620
Epoch 80/125

250/250 [==============================] - 0s 1ms/step - loss: 0.3304 - accuracy: 0.8618
Epoch 81/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3300 - accuracy: 0.8633
Epoch 82/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3307 - accuracy: 0.8650
Epoch 83/125
250/250 [==============================] - 0s 963us/step - loss: 0.3313 - accuracy: 0.8636
Epoch 84/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3296 - accuracy: 0.8633
Epoch 85/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3306 - accuracy: 0.8636
Epoch 86/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3296 - accuracy: 0.8634
Epoch 87/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3294 - accuracy: 0.8634
Epoch 88/125
250/250 [==============================] - 0s 987us/step - loss: 0.3292 - accuracy: 0.8620
Epoch 89/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3297 - accuracy: 0.8639
Epoch 90/125
250/250 [==============================] - 0s 984us/step - loss: 0.3301 - accuracy: 0.8629
Epoch 91/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3297 - accuracy: 0.8639
Epoch 92/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3295 - accuracy: 0.8627
Epoch 93/125
250/250 [==============================] - 0s 959us/step - loss: 0.3291 - accuracy: 0.8636
Epoch 94/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3291 - accuracy: 0.8640
Epoch 95/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3296 - accuracy: 0.8627
Epoch 96/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3286 - accuracy: 0.8645
Epoch 97/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3286 - accuracy: 0.8648
Epoch 98/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3283 - accuracy: 0.8615
Epoch 99/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3285 - accuracy: 0.8648
Epoch 100/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3290 - accuracy: 0.8651
Epoch 101/125
250/250 [==============================] - 0s 971us/step - loss: 0.3287 - accuracy: 0.8652
Epoch 102/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3290 - accuracy: 0.8654
Epoch 103/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3289 - accuracy: 0.8643
Epoch 104/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3290 - accuracy: 0.8659
Epoch 105/125
250/250 [==============================] - 0s 977us/step - loss: 0.3284 - accuracy: 0.8631
Epoch 106/125
250/250 [==============================] - 0s 985us/step - loss: 0.3282 - accuracy: 0.8658
Epoch 107/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3277 - accuracy: 0.8652
Epoch 108/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3294 - accuracy: 0.8659
Epoch 109/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3279 - accuracy: 0.8660
Epoch 110/125
250/250 [==============================] - 0s 966us/step - loss: 0.3273 - accuracy: 0.8643
Epoch 111/125
250/250 [==============================] - 0s 957us/step - loss: 0.3274 - accuracy: 0.8651
Epoch 112/125
250/250 [==============================] - 0s 983us/step - loss: 0.3272 - accuracy: 0.8645
Epoch 113/125
250/250 [==============================] - 0s 965us/step - loss: 0.3286 - accuracy: 0.8637
Epoch 114/125
250/250 [==============================] - 0s 922us/step - loss: 0.3275 - accuracy: 0.8659
Epoch 115/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3278 - accuracy: 0.8650
Epoch 116/125
250/250 [==============================] - 0s 900us/step - loss: 0.3276 - accuracy: 0.8655
Epoch 117/125
250/250 [==============================] - 0s 931us/step - loss: 0.3276 - accuracy: 0.8627
Epoch 118/125
250/250 [==============================] - 0s 945us/step - loss: 0.3276 - accuracy: 0.8648
Epoch 119/125
250/250 [==============================] - 0s 972us/step - loss: 0.3269 - accuracy: 0.8665
Epoch 120/125
250/250 [==============================] - 0s 946us/step - loss: 0.3270 - accuracy: 0.8659
Epoch 121/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3272 - accuracy: 0.8674
Epoch 122/125
250/250 [==============================] - 0s 980us/step - loss: 0.3262 - accuracy: 0.8668
Epoch 123/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3269 - accuracy: 0.8644
Epoch 124/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3272 - accuracy: 0.8669
Epoch 125/125
250/250 [==============================] - 0s 1ms/step - loss: 0.3266 - accuracy: 0.8658

In [49]:
preds = model.predict(X_test)
predictions = pd.DataFrame(preds, columns = ['Predictions'])

63/63 [==============================] - 0s 650us/step

In [71]:
predictions['Exited'] = np.where(predictions['Predictions']>0.55,1,0)

In [58]:
predictions.head()

   Predictions  Exited
0     0.025952       0
1     0.028515       0
2     0.473130       0
3     0.016143       0
4     0.781661       1

In [42]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [72]:
print(classification_report(y_test,predictions['Exited']))

              precision    recall  f1-score   support

           0       0.88      0.97      0.92      1577
           1       0.82      0.50      0.62       423

    accuracy                           0.87      2000
   macro avg       0.85      0.74      0.77      2000
weighted avg       0.87      0.87      0.86      2000

In [73]:
print(confusion_matrix(y_test,predictions['Exited']))

[[1531   46]
 [ 210  213]]